.listaTema{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80vw;
  margin: 0 auto;
}

.cardTema {
  flex: 1;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loader {
  display: grid;
  place-items: center;
  height: 80vh;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 264px;
  height: 264px;
  margin: 8px;
  border-radius: 50%;
  background: var(--blue-900);
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}