.listaTema{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80vw;
  margin: 0 auto;
}

.cardTema {
  flex: 1;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loaderContainer {
  display: grid;
  place-items: center;
  height: 80vh;
}

.loader{
  display: block;
  position: relative;
  height: 12px;
  width: 50%;
  border: 1px solid var(--blue-900);
  border-radius: 10px;
  overflow: hidden;
}
.loader::after {
  content: '';
  width: 40%;
  height: 100%;
  background: var(--blue-600);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2.5s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
